//Kleurenpallet

$hoofdkleur: #6ead46;
$hoofdkleurt: rgba(0,0,0,.5);
$accentkleur: #6aaf08;
$accentkleurt: rgba(106,175,8,.8);

$tekstkleur: #666;
$titelkleur: #333;
$achtergrondkleur:#EEE;

$basiskleur: rgb(255,255,255);
$basiskleurt: rgba(255,255,255,.7);

// Fonts

$hoofdfont: "Open Sans", Helvetica, Arial, sans-serif;
$titelfont: "Open Sans", Helvetica, Arial, sans-serif;

//Schermbreedtes

$smal-scherm: 640px;
$medium-scherm: 850px;
$ok-scherm: 1000px;
$breed-scherm: 1920px;